.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color:white;
  color: black;
}

.navbar a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1rem;
}

.nav-logo{
  width: 6.8rem;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .navbar li {
    margin: 0.5rem 0;
  }
  .navbar ul {
    display: none;
  }
  .navbar select {
    display: block;
    width: 100%;
  }
}
